.tick {
    background: #334;
    color: #aa7;
    display: inline-block;
    margin: 1px;
    padding: 10px;
}

/* Within 5 minutes */
.tick.imminent {
    background: red;
    color: white;
}

/* Within 15 minutes */
.tick.soon {
    background: orange;
    color: black;
}

/* Within 30 minutes */
.tick.later {
    background: yellow;
    color: black;
}

.tick.hyperiums_time {
    background: #445;
    font-weight: bold;
}
