.tick {
    background: #334 linear-gradient(#445, #334);
    color: #aa7;
    display: inline-block;
    margin: 0 1px 1px 0;
    padding: 10px;
}

/* Within 5 minutes */
.tick.imminent {
    background: #e33 linear-gradient(#e72, #e33);
    color: white;
}

/* Within 15 minutes */
.tick.soon {
    background: #f85 linear-gradient(#fa5, #f85);
    color: black;
}

/* Within 30 minutes */
.tick.later {
    background: #aa5 linear-gradient(#aa5, #a85);
    color: black;
}

.tick.hyperiums_time {
    background: #aa7 linear-gradient(#ddb, #aa7);
    color: black;
    font-weight: bold;
}
